.game-manage{

}

.game-manage .scroll-bar{
    -fx-background-color: transparent;
    -fx-opacity: 1;
}

.game-manage .scroll-bar:vertical .thumb{
    -fx-background-color: transparent;
    -fx-background-insets: 1;
}
.game-manage:hover .scroll-bar:vertical .thumb{
    -fx-background-color: -color-bg-default-60;
}
